&.faction {
  .faction-summary { padding-right: 2px; }

  .resources-fieldset, .goals-fieldset {
    position: relative;
    .resource-create, .goal-create { position: absolute; right: 6px; top: 4px; }
  }

  .goals .goal-line,
  .resources .resource { display: flex; align-items: center; gap: 10px; }

  .goal-pool .roll-pool-button { padding: 4px; }
  .goal-term {
    width: 120px; // narrower selector to favor goal text width
    flex: 0 0 120px;
  }
  .goal-name { flex: 1; }
}
