.journal-page-content span {
	font-family: inherit !important;
}

.journal-page-header,
.journal-entry-page h1,
.journal-entry-page h2 {
	font-family: $font-display;
	text-transform: uppercase;
	font-weight: 700;
	font-style: normal;
}

.journal-entry .editor-content,
.journal-sheet .editor-content,
.journal-page-content {
	font-size: 14px !important;
	line-height: 1.4;

	h1, h2, h3, h4, h5 {
		line-height: 1.1;
	}

	table {
		td {
			padding: 0.5rem;
		}
	}
}

.journal-entry .editor-content h1,
.journal-sheet .editor-content h1,
.journal-page-content h1 {
	font-size: 1.6em;
}

.journal-entry .editor-content h2,
.journal-sheet .editor-content h2,
.journal-page-content h2 {
	font-size: 1.4em;
}

.journal-entry .editor-content h3,
.journal-sheet .editor-content h3,
.journal-page-content h3 {
	font-size: 1.2em;
}

.journal-entry .editor-content h4,
.journal-sheet .editor-content h4,
.journal-page-content h4 {
	font-size: 1.1em;
}
